/* Headings */
.content h2 {
  margin-top: 3.5em;
}
.content h3 {
  margin-top: 2.5em;
}


/* Chapter abstracts */
.content .abstract > .block-title {
  display: none;
}
.content .abstract {
  margin-top: 2em !important;
  margin-bottom: 4em;
  font-size: 125%;
}


/* figures */
.tutorial-video-container, .html-widget {
  clear: both;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
p.full-width-image, p.centered-image, table.gt_table {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}
p.full-width-image > img {
  max-width: 80%;
  max-height: 400px;
  height: auto;
  width: auto;
}
p.centered-image > img {
  max-width: 100%;
}
.right-side-image {
  float: right;
  width: 33%;
  max-width: 150px;
  margin: 0 0 2em 2em;
}
.image-border > img {
  border: 1px solid #333;
}

/* code cells */
.cell, div.sourceCode {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
div.bad_code div.code-with-filename-file {
  background-color: rgba(255, 127, 127, 0.8);
}
div.bad_code div.cell-code {
  background-color: rgba(255, 200, 200, 0.65);
}

/* generic divs */
.center {
  text-align: center;
}

/* callouts */
.callout {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.callout.callout-style-default .callout-body,
.callout.callout-style-default > div.callout-header {
  font-size: 1em;
}
.callout-tip {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.callout-quiz {
  padding-bottom: 1em;
}
div.callout-quiz.callout {
  border-left-color: #3fb618;
}
div.callout.callout-quiz > .callout-header {
  background-color: rgba(63, 182, 24, 0.2);
}
div.callout.callout-quiz .callout-title-container::before {
  content: "Check your knowledge: ";
}
div.callout.callout-quiz .webex-solution button {
  background-color: #3fb618;
  border-style: none;
}
.callout-important .callout-body, .callout-tip .callout-body
{
  min-height: 145px;
  background-position-x: right 10px !important;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
/*
.callout-important .callout-body {
  background-image: url("matt_note.png");
  background-size: 125px;
  padding-right: 135px !important;
}
.callout-tip .callout-body {
  background-image: url("matt_idea.png");
  background-size: 150px;
  padding-right: 160px !important;
}
*/
.faux-markdown {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding: 1em;
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(200, 200, 200, 0.10);
}
.faux-output {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding: 1em;
  border: 1px solid rgba(200, 200, 200, 0.8);
}


.tutorial-exercise-input {
  clear: both;
}


/* credits */
.credits {
  clear: both;
  margin: 2em 0;
  padding: 0.5em;
  border: 1px solid #CCCCCC;
  border-radius: 0.2em;
  color: #808080;
  background-color: #F2F2F2;
  font-size: 80%;
}
.credits a {
  color: #808080;
}



/* Boxes */
.box {
  clear: both;
  margin: 2em 0;
  border: 1px solid #f8f8f8;
  border-left: 2px solid #000000;
  padding: 10px;
}
/* Clearfix hack to clear content after a float */
.box::after {
  content: "";
  display: table;
  clear: both
}

.extra-detail {
  padding: 0;
}

.box-title {
  margin: 0;
  padding: 10px;
  color: #666666;
  background-color: #f8f8f8;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}

.box-title::before {
  content: "Extra detail";
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}

.box-content {
  display: none;
  padding: 10px;
  font-size: 0.9em;
}

.box-content::before {
  content: "";
  float: right;
  height: 105px;
  width: 150px;
  margin-left: 0.75em;
  margin-bottom: 0.75em;
  background-color: #FFFFFF;
  background-image: url("matt_idea.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
}

.notewell::before, .welldone::before {
  content: "";
  float: left;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
  background-color: #FFFFFF;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
}

.notewell::before {
  height: 125px;
  width: 125px;
  background-image: url("matt_note.png");
}

.welldone::before {
  height: 90px;
  width: 87px;
  background-image: url("matt_welldone.png");
}

.reading {
  font-size: 0.9em;
}

.reading::before {
  content: "Further information on this topic";
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}

.quiz {
  border-left-color: #B33;
}
.quiz::before {
  content: "Check your understanding";
  display; block;
  margin-top: 0;
  padding-bottom: 2em;
  color: #B33;
  font-size: 150%;
  font-weight: bold;
}

.tutorial {
  display: none;
}



.load-tutorial {
  /* set left border to match the other borders that are common to all types of box */
  border-left: 1px solid #f8f8f8;
  border-width: 2px;
  color: #000000;
  background-color: rgba(233, 236, 239, 0.65);
}
.load-tutorial .sourceCode {
  border-width: 0;
  background-color: transparent;
}
.load-tutorial::before {
  content: "Load the interactive tutorial";
  display: block;
  font-weight: bold;
}
