.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.Rdata
.httr-oauth
.DS_Store

/copies_for_chatgpt/
/scripts/
/rosm.cache/
/lectures/
/specimen_answers/
resources/Fire_Response__Current_and_Historical_20250309.csv
